[color]
	ui = auto
[user]
	name = Gianpaulo M. Soares
	email = jam_pow@hotmail.com
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
	rb = rebase
	lg = log --pretty=format:'%Cgreen%h %Cblue%ad %Cred%cn %Creset%s' --date=short
	ffc = diff-tree --no-commit-id --name-only -r 
	spull = !git-svn fetch && git-svn rebase
	spush = !git-svn dcommit
	ll = log --pretty=format:\"%C(yellow)%h%Cred%d\\\\ %Creset%s%Cblue\\\\ [%cn]\" --decorate --numstat
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	cp = cherry-pick
	lgb = "!git for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:red)%(objectname:short)%(color:reset);%(color:yellow)%(refname:short)%(color:reset);(%(color:green)%(committerdate:relative)%(color:reset));%(authorname);%(contents:subject)' | column -t -s ';'"
[push]
	default = simple
[url "https://"]
	insteadOf = git://
[core]
	autocrlf = false
	fileMode = false
[diff]
	submodule = log
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = 00 bold 01
	newNormal = green bold
	newHighlight = green bold 22
[credential]
	helper = store
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
